body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all 0.5s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}
.content{
    height: 70vh;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.content-text {
    max-width: 50%;
}

.content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.content img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about video{
    width: 500px;
    height: 300px;
}
.about{
    padding: 100px;
    background-color: black;
    color: white;
}
.container p{
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    align-items: center;
    padding: 20px;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

footer nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer nav a:hover {
    text-decoration: underline;
}